/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Quicksand:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Livvic", sans-serif;
    font-weight: 600;
    font-style: normal;   
}

body {
    min-height: 100vh;
}

.magnate img {
    position: absolute;
    height: 50%;
    bottom: 0;
    right: 80px;
}

body .carousel .carousel-inner .carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.385);
    color: #fff; /* Cambia el valor RGBA según el color que desees */
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 100px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 99;
}

nav .navbar {
    height: 100%;
    max-width: 1250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 17px 50px;
}

.navbar .logo a {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

nav .navbar .nav-links {
    line-height: 70px;
    height: 100%;
}

nav .navbar .links {
    display: flex;
}

nav .navbar .links li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 7px 14px;
}

nav .navbar .links li a {
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
}

nav .navbar .links li a:hover {
    color: aqua;
}

/* Las flechas arriba abajo del menú */
nav .navbar .links li .arrow {
    height: 100%;
    width: 22px;
    line-height: 70px;
    text-align: center;
    display: inline-block;
    color: #fff;
    transition: all 0.3s ease;
}

/* Del menú principal */
nav .navbar .links li .sub-menu {
    position: absolute;
    top: 83px;
    left: 0;
    line-height: 40px;
    background: rgba(26, 25, 25, 0.851);
    color: #fff;
    border-radius: 0 0 7px 7px;
    display: none;
    z-index: 2;
    padding-left: 0;
}

nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu {
    display: block;
}

.navbar {
    position: relative;
    height: 40px;
    width: 40px;
}

.navbar .nav-links .sidebar-logo {
    display: none;
}

.navbar .bx-menu {
    display: none;
}



.carousel .carousel-inner .carousel-item h1 {
    position: absolute;
    top: 33%;
    left: 10%;
    right: 40%;
    z-index: 12;
    color: rgb(254, 255, 255);
    font-size: 50px;
    font-weight: 700;
    font-style: normal;
}

.carousel .carousel-inner .carousel-item p {
    position: absolute;
    top: 55%;
    left: 10%;
    right: 40%;
    z-index: 12;
    color: #fff;
    font-size: 20px;
}

.carousel .carousel-inner .carousel-item button {
    position: absolute;
    top: 70%;
    left: 10%;
    z-index: 12;
    color: #030303;
    font-size: 20px;
    background-color: #ffffffdd;
    border-radius: 60px;
    border: 2px solid #010101;
    padding: 20px 70px;
    transition: border-color 0.3s ease;
}

#skills i {
    height: 100px;
    width: 100px;
  }
  

  #portfolio img {
    height: 300px;
    object-fit: cover;
  }
  #about .img,
  #about img,
  .hire-text h2 {
    position: relative;
  }
  /* Timeline background line */
  #about .img::before {
    content: "";
    left: 50%;
    width: 4px;
    position: absolute;
    height: calc(100% + 140px);
    background: var(--gray-color);
  }
  #about img,
  #about .hire-text h2 {
    width: 140px;
  }
  #about .hire-text h2 {
    height: 140px;
  }

  .scroll-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    text-align: center;
}
/* Cotador Estilos */
.counter-section {
    display: inline-block;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    padding: 20px 0px;
    background-color: #c5c9d542;
    margin-bottom: 20px; /* Espaciado entre los contadores */
    
}

.counter-section .counter-block {
 display: flex;
  align-items: center;
  flex-direction: column;   
}


.counter {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    font-size: 50px;
    font-weight: bold;
    padding: 0 50px;
    
  
}
.counter .counter-text{
    display:flex;
    justify-content:center;
    align-items:center;
    color:#171819ad;
    font-size: medium;
}

.footer {
  background: #10182F;
}
  .footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
    padding: 40px 40px 0px 40px;
  }
  .footer-row .footer-col h4 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
  }

  .footer-row .footer-col h3 {
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
  }
  .footer-col .links {
    margin-top: 20px;
  }
  .footer-col .links li {
    list-style: none;
    margin-bottom: 10px;
  }
  .footer-col .links li a {
    text-decoration: none;
    color: #bfbfbf;
  }
  .footer-col .links li a:hover {
    color: #fff;
  }
  .footer-col p {
    margin: 20px 0;
    color: #bfbfbf;
    max-width: 300px;
  }
  .footer-col form {
    display: flex;
    gap: 5px;
  }
  .footer-col input {
    height: 40px;
    border-radius: 6px;
    background: none;
    width: 100%;
    outline: none;
    border: 1px solid #7489C6 ;
    caret-color: #fff;
    color: #fff;
    padding-left: 10px;
  }
  .footer-col input::placeholder {
    color: #ccc;
  }
   .footer-col form button {
    background: #fff;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
  }
  .footer-col form button:hover {
    background: #cecccc;
  }
  .footer-col .icons {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    cursor: pointer;
  }
  .footer-col .icons i {
    color: #afb6c7;
  }
  .footer-col .icons i:hover  {
    color: #fff;
  }

  .footer .footer-row .polity p{
    padding-top: 0px;
    color: #fff;
  }
  

@media (max-width: 920px) {
    nav .navbar {
        max-width: 100%;
        padding: 0 25px;
    }

    nav .navbar .logo a {
        font-size: 27px;
    }

    nav .navbar .links li {
        padding: 0 10px;
        white-space: nowrap;
    }

    nav .navbar .links li a {
        font-size: 15px;
    }
}

@media (max-width: 1440px) {
    .navbar .bx-menu {
        display: block;
    }

    nav .navbar .nave .links {
        padding: 0;
    }

    nav .navbar .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        display: block;
        max-width: 270px;
        width: 100%;
        padding: 20px;
        background: rgba(3, 3, 3, 0.942);
        color: #fff;
        transition: all 0.5s ease;
        z-index: 1000;
    }

    .navbar .nav-links .sidebar-logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        padding-left: 10px;
    }

    .sidebar-logo .logo-name {
        font-size: 25px;
        color: #fff;
    }

    .sidebar-logo i,
    .navbar .bx-menu {
        font-size: 25px;
        color: #fff;
    }

    nav .navbar .links {
        display: block;
        margin-top: 40px;
    }

    nav .navbar .links li .arrow {
        line-height: 40px;
    }

    nav .navbar .links li {
        display: block;
        padding-bottom: 10px;
        border-bottom:
        0.1px solid #fff;
    }

    nav .navbar .links li .sub-menu {
        position: relative;
        top: 0;
        box-shadow: none;
        display: none;
        padding: 10px;
    }

    

    .carousel .carousel-inner .carousel-item div.centrar {
        max-width: 80%; /* Ajusta el ancho máximo según tus necesidades */
        margin: auto;
    }

    .carousel .carousel-inner .carousel-item h1 {
        position: absolute;
        font-size: 50px; /* Ajusta el tamaño de fuente según tus necesidades */
        font-weight: 700;
        top: 20%;
        right: 80px;
        left: 80px;
    }

    .carousel .carousel-inner .carousel-item p {
        position: absolute;
        font-size: 30px; /* Ajusta el tamaño de fuente según tus necesidades */
        font-weight: 300;
        top: 50%;
        right: 100px;
        left: 100px;
    }

    .carousel .carousel-inner .carousel-item button {
        position: absolute;
        left: 50%;
        top: 70%;
        transform: translateX(-50%);
        font-size: 30px;
        padding: 10px 50px;
    }
}

@media (max-width: 770px) {
    nav .navbar .nav-links {
        max-width: 100%;
    }

    .carousel .carousel-inner .carousel-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
    }

    .carousel .carousel-inner .carousel-item div.centrar {
        max-width: 70%; /* Ajusta el ancho máximo según tus necesidades */
        margin: auto;
    }

    .carousel .carousel-inner .carousel-item h1 {
        position: absolute;
        font-size: 15px; /* Ajusta el tamaño de fuente según tus necesidades */
        font-weight: 100;
        top: 50%;
        right: 20px;
        left: 20px;
    }

    .carousel .carousel-inner .carousel-item p {
        position: absolute;
        font-size: 11px; /* Ajusta el tamaño de fuente según tus necesidades */
        font-weight: 200;
        top: 70%;
        right: 20px;
        left: 15px;
    }

    .carousel .carousel-inner .carousel-item button {
        position: absolute;
        left: 50%;
        top: 87%;
        font-size: 11px;
        transform: translateX(-50%);
        padding: 2px;
    }

    .footer {
        position: relative;
        bottom: 0;
        left: 0;
        transform: none;
        width: 100%;
        border-radius: 0;
      }
      .footer .footer-row {
        padding: 20px;
        gap: 1rem;
      }
      .footer-col form {
        display: block;
      }
      .footer-col form :where(input, button) {
        width: 100%;
      }
      .footer-col form button {
        margin: 10px 0 0 0;
      }
}

